<body style="background-color: #ccc">
<div class="container">
	<%= render 'header' %>
	<div class="jumbotron jumbotron-banner">
		<h1>Iain Breen - 16 Day Weather Forecast <br /><small>Ruby on Rails Code Assessment for PlayON </small></h1>
	</div>
	
	
</div>
</body>