<body style="background-color: #ccc">
<div class="container">
	<%= render 'header' %>
	<div class="jumbotron jumbotron-banner">
		<h1>Iain Breen - 16 Day Weather Forecast <br /><small>Ruby on Rails Code Assessment for PlayON </small></h1>
	</div>
	
	<div class="alert alert-success" role="alert">
	  <strong>CI/CD Test</strong> Using CircleCI to deploy to AWS
	</div>

</div>
</body>